:root {
  --light-text: hsl(200, 15%, 8%);
  --light-el: hsl(0, 0%, 100%);
  --light-input: hsl(0, 0%, 52%);
  --light-bg: hsl(0, 0%, 98%);
  --shadow: 2px 2px 10px hsl(0, 3%, 82%);
  --header-shadow: 2px 2px 8px hsl(0, 3%, 82%);
}
.light {
  --light-text: hsl(0, 0%, 100%);
  --light-input: hsl(0, 0%, 100%);
  --light-bg: hsl(207, 26%, 17%);
  --light-el: hsl(209, 23%, 22%);
  --shadow: 2px 2px 15px hsl(0, 0%, 12%);
  --header-shadow: 2px 2px 10px hsl(0, 0%, 15%);
}
:root:has(#light:checked) {
  --light-text: hsl(0, 0%, 100%);
  --light-input: hsl(0, 0%, 52%);
  --light-bg: hsl(207, 26%, 17%);
  --light-el: hsl(209, 23%, 22%);
  --shadow: 2px 2px 15px hsl(0, 0%, 12%);
  --header-shadow: 2px 2px 10px hsl(0, 0%, 15%);
}
